{% extends "layout.html" %}
{% block title %}
{{ customer }}
{% endblock title %}
{% load widget_tweaks %}

{% block content %}
    <h3>{{ customer }}</h3>
    <form action="" method="POST">
    {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div>
                    {{ field.label}}
                </div>
                <div>
                    {{ field|add_class:"form-control"}}
                </div>
            </div>
        {% endfor %}
        <div class="col">
            <button class="btn btn-primary mr-5" name="save">Save</button>
            <button class="btn btn-danger" name="delete">Delete</button>
        </div>
    </form>
{% endblock content %}
