{% extends "layout.html" %}
{% block title %}
{{ title }}
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Hygiene Services</h5>
            <p class="card-text">summary of Cleaning Services we offer.</p>
            <a href="#" class="btn btn-primary">View Orders</a>
        </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Customers</h5>
            <p class="card-text">Different Customers we offer services to.</p>
            <a href="#" class="btn btn-primary">View Requests</a>
        </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Techical Services</h5>
            <p class="card-text">Range of technical Services offered</p>
            <a href="#" class="btn btn-primary">View Orders</a>
        </div>
        </div>
    </div>
    </div>
</div>

{% endblock content %}
