{% extends "layout.html" %}
{% block title %}
{{ title }}
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">TOTAL Uganda</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">View Orders</a>
        </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">The Initiates Uganda</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">View Requests</a>
        </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Transporters</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">View Orders</a>
        </div>
        </div>
    </div>
    </div>
</div>

{% endblock content %}
